*{
  font-family: sans-serif;
  box-sizing: border-box;
  margin:auto;
  padding:auto;
}
body {
    background-color: #ccffe6;
    color:black;
    font-size: 18px;
}
.navbar {
    overflow: hidden;
    background-color: #000;
    padding-right:15px;
    padding-left: 15px;
  }
  
  .navbar a {
    float: left;
    font-size: 24px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-bottom: 13px;
    margin-top: 13px;
    font-family: "book antiqua";
    margin-right: 20px;  
  }
  
  .dropdown {
    float: right;
    overflow: hidden;
    margin-top:13px;
    margin-right:30px;
    font-family: "book antiqua";
  }
  
  .dropdown .dropbtn {
    font-size: 24px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0px;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #009973;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #00cc99;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #00b386;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  h1 {
    text-align: center;
    font-size: 32px;
    text-decoration: underline;
    margin:15px;
  }
  .dolog {
      margin-left: 20px;
  }
  .underline {
      text-decoration: underline;
      font-weight: bold;
  }
  h2 {
      border-left:6px solid #267326;
      padding: 5px;
      background-color:#b3cccc;
      width:420px;
      text-align:left;
      margin:10px;
  }
  #okai {
      border-left:6px solid #267326;
      padding: 5px;
      background-color:#b3cccc;
      width:85px;
  }
  #indi {
    border-left:6px solid #267326;
    padding: 5px;
    background-color:#b3cccc;
    width:230px;
  }
  .gyarm {
    border-left:6px solid #267326;
    padding: 5px;
    background-color:#b3cccc;
    width:320px;
  }
  .kep1 {
      width:300px;
      float:right;
      border: 2px solid black;
      border-radius:15px;
      margin:20px;
      margin-top:-100px;
  }
  .kep2 {
    width:300px;
    float:center;
    border: 2px solid black;
    border-radius:15px;
    margin:20px;
  }
  .kep3 {
    width:300px;
    float:right;
    border: 2px solid black;
    border-radius:15px;
    margin:20px;
    margin-top:-150px;
}
    .gyarmkep {
        float:right;
        margin:50px;
        margin-top: -80px;
        border: 2px solid black;
        border-radius: 15px;
    }
    footer {
        color: lightgray;
        background-color: #42455a;
        text-align: center;
        font-size: 14px;
        padding: 3px;
        clear:both;
        margin-top: 20px;
    }
    .portfelf {
        width: 200px;
        float:right;
        margin:50px;
        margin-top:-80px;
        border: 2px solid black;
        border-radius:15px;
    }
    .portfelf2 {
        width: 200px;
        border: 2px solid black;
        border-radius:15px;
        margin:10px;
        margin-left:600px;
    }
    .spanyfelf {
        width:200px;
        float:right;
        margin: 15px;
        margin-top:-80px;
        border: 2px solid black;
        border-radius:15px;
    }
    .spanyfelf2 {
        width:200px;
        margin:15px;
        border: 2px solid black;
        border-radius:15px;
        margin-left: 50px;
    }
    .spanyfelf3 {
        width:200px;
        margin:15px;
        border: 2px solid black;
        border-radius:15px;
        margin-left: 50px;
    }
    .angfelf {
        width:200px;
        float:right;
        margin: 15px;
        margin-right:150px;
        margin-top:-80px;
        border:2px solid black;
        border-radius:15px;
    }
    .angfelf2 {
        width:200px;
        margin:15px;
        border:2px solid black;
        border-radius:15px;
        margin-left:50px;
    }
    .frafelf {
        width:200px;
        float:right;
        margin:15px;
        margin-right:150px;
        margin-top:-80px;
        border: 2px solid black;
        border-radius:15px;
    }
    .frafelf2 {
        width:200px;
        margin: 15px;
        border: 2px solid black;
        border-radius:15px;
        margin-left:50px;
    }
    #main {
      width:40%;
      height: 500px;
      text-align:center;
      margin: 40px 10px 0 150px;
      background-color: white;
      float:left;
    }
    #head {
      background-color: black;
      width: 100%;
      height: 55px;
      color: white;
      padding: 10px;
      margin-bottom: 60px;
    }
    #main input {
      height: 30px;
      width:45%;
      margin-bottom:10px;
      font-size: 20px;
    }
    #main label {
      font-size: 23;
      padding-right:50px;
      margin-bottom:10px;
    }

    #eredmeny {
      height: 500px;
      width: 30%;
      float: left;
       margin-top:40px;
       background-color: white;
    }
    #head1, #head2 {
      background-color: black;
      width:100%;
      height: 45px;
      color:white;
      text-align: center;
    }
    #osszeg {
      height: 200px;
      width: 100%;
      padding: 20px;
      background-color:white;
      font-size:19px;
      font-weight: 600;
      text-align:center;
    }
    #jegy {
      height: 80px;
      width: 100%;
      padding:20px;
      font-size:19px;
      font-weight: 600;
      background-color:white;
      text-align:center;
    }
    label {
      float:left;
      margin:5px;
    }
    #elso, #masodik, #harmadik, #negyedik {
      float:right;
    }
    .btn1 {
      outline:none;
      border: none;
      width:30%;
      height: 55px;
      margin-right:30px;
      margin-top: 65px;
      margin-left:80px;
      font-size: 22px;
      background-color: lightgrey;
      float:left;
    }
    .btn2 {
      outline:none;
      border:none;
      width:30%;
      height:40px;
      font-size:22px;
      background-color: lightgrey;
      margin-right:30px;
      margin-top:30px;
      float:left;
    }
    #forras {
      margin-left:20px;
    }
