body {
    background-color: #ccffe6;
    color:black;
    font-size: 18px;
}
.navbar {
    overflow: hidden;
    background-color: #000;
    padding-right:15px;
    padding-left: 15px;
  }
  
  .navbar a {
    float: left;
    font-size: 24px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-bottom: 13px;
    margin-top: 13px;
    font-family: "book antiqua";
    margin-right: 20px;  
  }
  
  .dropdown {
    float: right;
    overflow: hidden;
    margin-top:13px;
    margin-right:30px;
    font-family: "book antiqua";
  }
  
  .dropdown .dropbtn {
    font-size: 24px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0px;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #009973;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #00cc99;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #00b386;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  h1 {
    text-align: center;
    font-size: 32px;
    text-decoration: underline;
  }
  .dolog {
      margin-left: 20px;
  }
  .underline {
      text-decoration: underline;
      font-weight: bold;
  }
  h2 {
      border-left:6px solid #267326;
      padding: 5px;
      background-color:#b3cccc;
      width:365px;   
  }
  #okai {
      border-left:6px solid #267326;
      padding: 5px;
      background-color:#b3cccc;
      width:65px;
  }
  #indi {
    border-left:6px solid #267326;
    padding: 5px;
    background-color:#b3cccc;
    width:195px;
  }
  .gyarm {
    border-left:6px solid #267326;
    padding: 5px;
    background-color:#b3cccc;
    width:275px;
  }
  .kep1 {
      width:300px;
      float:right;
      border: 2px solid black;
      border-radius:15px;
      margin:20px;
      margin-top:-100px;
  }
  .kep2 {
    width:300px;
    float:center;
    border: 2px solid black;
    border-radius:15px;
    margin:20px;
  }
  .kep3 {
    width:300px;
    float:right;
    border: 2px solid black;
    border-radius:15px;
    margin:20px;
    margin-top:-150px;
}
    .gyarmkep {
        float:right;
        margin:50px;
        margin-top: -80px;
        border: 2px solid black;
        border-radius: 15px;
    }
    footer {
        color: lightgray;
        background-color: #42455a;
        text-align: center;
        font-size: 14px;
        padding: 3px;
    }
    .portfelf {
        width: 200px;
        float:right;
        margin:50px;
        margin-top:-80px;
        border: 2px solid black;
        border-radius:15px;
    }
    .portfelf2 {
        width: 200px;
        border: 2px solid black;
        border-radius:15px;
        margin:10px;
        margin-left:600px;
    }
    .spanyfelf {
        width:200px;
        float:right;
        margin: 15px;
        margin-top:-80px;
        border: 2px solid black;
        border-radius:15px;
    }
    .spanyfelf2 {
        width:200px;
        margin:15px;
        border: 2px solid black;
        border-radius:15px;
        margin-left: 50px;
    }
    .spanyfelf3 {
        width:200px;
        margin:15px;
        border: 2px solid black;
        border-radius:15px;
        margin-left: 50px;
    }
    .angfelf {
        width:200px;
        float:right;
        margin: 15px;
        margin-right:150px;
        margin-top:-80px;
        border:2px solid black;
        border-radius:15px;
    }
    .angfelf2 {
        width:200px;
        margin:15px;
        border:2px solid black;
        border-radius:15px;
        margin-left:50px;
    }
    .frafelf {
        width:200px;
        float:right;
        margin:15px;
        margin-right:150px;
        margin-top:-80px;
        border: 2px solid black;
        border-radius:15px;
    }
    .frafelf2 {
        width:200px;
        margin: 15px;
        border: 2px solid black;
        border-radius:15px;
        margin-left:50px;
    }